.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.photo img {
  width: 100px;
}

.info {
  border: blue;
}

.pagination button {
  width: 40px;
}

.current {
  color: #fff;
  background-color: brown;
}

.gap {
  padding: 0 10px 0 10px;
}
