.nav {
  grid-area: nav;
  background-color: #ff0095;
  height: 100%;
}
.backItem {
  padding: 10px;
  background-color: #3f3f3f;
}
.item {
  margin: 10px 10px 10px 20px;
}

.item a {
  color: #fff;
  font-size: 24px;

  text-decoration: none;
}

.item a:active {
  font-size: 28px;
  color: #f2ff42;
}

.item a.activeLink {
  color: #f2ff42;
}

.item img {
  width: 20px;
  margin: 0 10px 0 0;
}
