body {
  background-color: #666b83;
}

.app-wrapper {
  display: grid;

  margin: 0 auto;
  width: 1600px;

  grid-template-areas:
    "head head"
    "nav cont";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.body {
  background-color: #666b83;
}

.app-wrapper-content {
  grid-area: cont;
  background-color: #c4d2fa;
}
