body {
  background-color: #d1d1d1;
}

.app-wrapper {
  display: grid;

  margin: 0 auto;
  width: 1000px;

  grid-template-areas:
    "head head"
    "nav cont";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 5fr;
  grid-gap: 2px;
}

.body {
  background-color: #bbbbbb;
}

.app-wrapper-content {
  grid-area: cont;
  background-color: #c4d2fa;
}
